@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto", "Inter", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
}
.bg-milk {
    background-color: #f6f9fb !important;
}
$purple: rgb(129, 140, 248);
$darkPurple: rgb(79, 70, 229);
$bgColor: #f1f5f9;
.text-purple {
    color: $purple !important;
}
.bg-purple {
    background-color: $purple !important;
    &:active {
        background-color: $purple !important;
    }
}
.w400 {
    width: 400px;
}
.h64 {
    height: 64px;
}
.text-darkPurple {
    color: $darkPurple !important;
}
.bg-darkPurple {
    background-color: $darkPurple !important;
    &:active {
        background-color: $darkPurple !important;
    }
}
body {
    overflow: hidden;
}
.font-s32 {
    font-size: 32px !important;
}
.font-s20 {
    font-size: 20px !important;
}
.font-s13 {
    font-size: 13px !important;
}
.font-s16 {
    font-size: 16px !important;
}
.bg-color {
    background-color: $bgColor !important;
}
.h-72 {
    height: 72px !important;
}
.no-drag {
    -webkit-user-drag: none;
}
.border-circular {
    border-radius: 50%;
}
.w1024 {
    width: 1024px !important;
}
