@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap");

* {
    box-sizing: border-box;
    font-family: Inter, "Roboto", Helvetica, Arial, sans-serif;
}

$purple: rgb(129, 140, 248);
$darkPurple: rgb(79, 70, 229);
.text-purple {
    color: $purple;
}
.bg-purple {
    background-color: $purple;
}
.text-darkPurple {
    color: $darkPurple !important;
}
.bg-darkPurple {
    background-color: $darkPurple !important;
}
body {
    overflow: hidden;
}
.font-s20 {
    font-size: 20px !important;
}
.font-s13 {
    font-size: 13px !important;
}
.font-s16 {
    font-size: 16px !important;
}
.bg-color {
    background-color: #f1f5f9 !important;
}
.no-drag {
    -webkit-user-drag: none;
}
